.btn{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
    overflow: hidden;
}

.primary-btn{
    background:linear-gradient(90deg, #4a00e0, #1e3c72);
    color: #ffffff;
}
.primary-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(78,0,224,0.4);
}


.secondary-btn{
    background-color: #1c1c1c;
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.15);
}

.secondary-btn:hover{
    background-color: #2a2a2a;
    transform: scale(1.05);
}
/*
.btn span.btn-arrow{
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover span.btn-arrow{
    transition: translateX(5px);
}
    */
