.aboutme-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    margin: 5rem;
    gap: 2rem;
}

.aboutme-left{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    

    
}

.aboutme-left img{

    border-radius: 16px;
    width: 100%;
    height:700px;
    object-fit: cover;
    max-width: 700px;
    



}

.aboutme-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.aboutme-title{
    font-size: 3rem;
    text-align: top;
    font-weight: bold;
}

.aboutme-description{
   margin-bottom: 1rem;
   object-fit: fill;
   font-size: 1.2rem;
}

@media(max-width: 768px) {
    .aboutme-section{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        align-items: center;
    
    }
    .aboutme-title{
        font-size: 2rem;
        text-align: center;
    }

    .aboutme-description{
        margin-bottom: 1rem;
        text-align: left;
        font-size: 1rem;
    }
    .aboutme-title{
        text-align: left;
    }

    .aboutme-left img{
        width: 100%;
        height: 100%;
        border-radius: 36px;
        object-fit:cover;
    }


}

@media(max-width: 480px) {
    .aboutme-section{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }
    .aboutme-title{
        font-size: 1rem;
        text-align: center;
    }
    .aboutme-description{
        margin-bottom: 1rem;
        text-align: left;
        font-size: 0.8rem;
    }

}